<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rosokha.todolist">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoList">
        <activity
            android:name=".authorization.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".authorization.LogInActivity" />
        <activity android:name=".authorization.SignUpActivity" />
        <activity android:name=".users.HomePageOfLeaderActivity" />
        <activity android:name=".users.HomePageOfWorkerActivity" />
        <activity android:name=".users.ProfileViewerActivity" />
        <activity android:name=".task.TaskCreatorActivity" />
        <activity android:name=".users.FavoriteUsersViewerActivity" />
        <activity android:name=".users.SearchUsersActivity" />
        <activity android:name=".task.TaskViewerActivity" />
        <activity android:name=".task.TasksViewerActivity" />
        <activity android:name=".task.FinderExecutorsActivity" />

    </application>
</manifest>